<template>
    <form>
        <!--Label: Date Paid, Attributes: datepaid-->
        <div class="form-group" :class="{ 'has-error' : errors.datepaid }">
            <label for="datepaid" class="control-label">Date Paid</label>
            <div>
                <input type="date" class="form-control" id="datepaid"
                       v-model="datepaid"
                       autocomplete="off">
                <div class="help-block" v-if="errors.datepaid">
                    <strong>{{ errors.datepaid.toString() }}</strong>
                </div>
            </div>
        </div>


        <!--Label: Amount, Attributes: amount-->
        <div class="form-group" :class="{ 'has-error' : errors.amount }">
            <label for="amount" class="control-label">Amount</label>
            <div>
                <input type="text" class="form-control" id="amount"
                       v-model="amount"
                       autocomplete="off">
                <div class="help-block" v-if="errors.amount">
                    <strong>{{ errors.amount.toString() }}</strong>
                </div>
            </div>
        </div>
        <!--Label: Cheque Number, Attributes: cheque-->
        <div class=" form-group" :class="{ 'has-error' : errors.cheque }">
            <label for="cheque" class="control-label">Cheque Number</label>
            <div>
                <input type="text" class="form-control" id="cheque"
                       v-model="cheque"
                       autocomplete="off">
                <div class="help-block" v-if="errors.cheque">
                    <strong>{{ errors.cheque.toString() }}</strong>
                </div>
            </div>
        </div>
        <div class="form-actions">
            <button @click.prevent="makepayment" class="btn btn-success">
                <i class="fa fa-check"></i> Save
            </button>
        </div>
    </form>
</template>

<script>
    export default {
        name: "index",
        props: {
            paymentid: {
                type: Number,
            },
        },
        data() {
            return {
                errors: '',
                datepaid: '',
                invoice: '',
                amount: '',
                cheque: '',
                id: this.paymentid
            }
        },
        methods: {
            makepayment() {
                axios.post('/admin/paids', this.$data).then(response => {
                    this.datepaid = '';
                    this.invoice = '';
                    this.amount = '';
                    this.cheque = '';
                    this.errors = '';
                }).catch(error => {
                });
            }
        },
    }
</script>

<style scoped>

</style>